.main {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 80px;
  background: white;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.textss {
  margin-left: 180px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.textss h1 {
  font-size: 80px;
  color: #0b2c3a;
  margin-bottom: 20px;
  line-height: 1.2;
  font-weight: lighter;
  letter-spacing: 3px;
}

.textss p {
  font-size: 40px;
  color: #555;
  line-height: 1.6;
  letter-spacing: 2px;
}

.phoneImage {
  width: 600px;
  height: 420px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 80px;
}

.phoneImage img {
  width: 800px;
}
