.conti {
  width: 900px;
  height: 700px;
  border-radius: 20px;
  background: linear-gradient(135deg, #5f8dff, #6b78d1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  padding: 40px;
  box-sizing: border-box;
}

.conti img {
  width: 400px;
  margin-bottom: 50px;
}

.cool {
  text-align: center;
  margin-bottom: 50px;
}

.cool h2 {
  font-size: 60px;
  font-weight: 100;
  margin: 0;
  color: #000;
}

.forrm {
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 6px;
  width: 460px;
  flex-direction: column;
}
.forrm input {
  width: 480px;
  height: 70px;
  border: none;
  background: transparent;
  font-size: 42px;
  text-align: center;
  letter-spacing: 45px;
  color: white;
  outline: none;
  padding-left: 45px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.forrm input::placeholder {
  letter-spacing: 45px;
  color: rgba(255, 255, 255, 0.4);
}

.conti p {
  margin-top: 40px;
  font-size: 20px;
  color: #eef2ff;
}

.conti p span {
  font-weight: 600;
  cursor: pointer;
}

.conti p span:hover {
  text-decoration: underline;
  color: #000000;
}
