.header {
  width: 100%;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  border-bottom: 1px solid #eee;
}

.logoart {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  margin-top: 60px;
  width: 340px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 80px;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  font-size: 40px;
}

.nav a {
  text-decoration: none;
  color: #040708;
  font-weight: 500;
}
.nav a:hover {
  color: #1e5bff;
}

.gsbutton {
  background: linear-gradient(to right, #1e5bff, #518c8d);
  color: white;
  border: none;
  padding: 12px 26px;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 3000;
  font-size: 30px;
  transition: all 0.25s ease;
}

.gsbutton:hover {
  opacity: 0.9;
  transform: translateY(-1px);
  box-shadow: 0 10px 25px rgba(30, 91, 255, 0.35);
}
